@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fdeddc;
}

.color-overlay {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #0003;
  background-color: #FBD4AB;
  padding: 16px;
}

.App-logo {
  width: 300px;
  height: auto;
  margin-bottom: 16px;
}

.form-container {
  
  text-align: center;
  margin-bottom: 16px;
}

.form-group {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.lexend {
  font-family: 'Lexend', sans-serif;
}
